@{
    ViewData["Title"] = "WeatherForecast";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<div class="container">
    <div class="row">

        <span style="font-size:30px;font-style:italic;color:black;">@ViewBag.City HAVA DURUMU : @ViewBag.temperature <img src="@ViewBag.iconurl" style="width:100px;height:100px" /></span>

       


    </div>
</div>
